 //@import './base';
 
 @mixin reset-list ($backcolor){
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color:$backcolor;
  }
  
  @mixin horizontal-list ($backcolor){
    @include reset-list($backcolor);
  
    li {
      display: inline-block;
      margin: {
        left: 0px;
        right: 2em;
      }
    }
  }
  
  .first {
    @include horizontal-list(red);
  }
    .second{
    @include horizontal-list(yellow);
}
    .third{
    @include horizontal-list(green);
}